<!DOCTYPE html>
<html lang="en">

<%- include('partials/header.ejs', { title: 'Járat felvezetése' }) %>

    <body>
        <%- include('partials/navbar.ejs') %>
            <form action="/felvezetes" method="POST" id="jaratok-form" class="forms"
                enctype="application/x-www-form-urlencoded">
                <div class="form-group">
                    <label class="form-label" for="honnan">Honnan:</label>
                    <input type="text" name="honnan" id="honnan" class="form-control" required>
                </div>
                <div class="form-group">
                    <label class="form-label" for="hova">Hova:</label>
                    <input type="text" name="hova" id="hova" class="form-control" required>
                </div>
                <div class="form-group">
                    <label class="form-label" for="napok">Nap:</label>
                    <select name="napok" id="napok" class="form-select" required>
                        <option value="Hetfo">Hétfő</option>
                        <option value="Kedd">Kedd</option>
                        <option value="Szerda">Szerda</option>
                        <option value="Csutortok">Csütörtök</option>
                        <option value="Pentek">Péntek</option>
                        <option value="Szombat">Szombat</option>
                        <option value="Vasarnap">Vasárnap</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label" for="ora">Óra:</label>
                    <input type="time" name="ora" id="ora" required>
                </div>
                <div class="form-group">
                    <label class="form-label" for="ar">Jegy ára:</label>
                    <input type="number" min="0" name="ar" id="ar" class="form-control" required>
                </div>
                <div class="form-group">
                    <label class="form-label" for="vonattipus">Vonat típusa:</label>
                    <select name="vonattipus" id="vonattipus" class="form-select" required>
                        <option value="Gyors">Gyors</option>
                        <option value="Regionalis">Regionális</option>
                        <option value="Expressz">Expressz</option>
                        <option value="Szemely">Személyvonat</option>
                    </select>
                </div>
                <br><br>
                <button type="submit" id="hozzaadas">Hozzáadás</button>
            </form>
            <%- include('partials/footer.ejs') %>
    </body>

</html>