<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Járat keresés</title>
</head>

<body>
    <form action="/kereses" method="POST" id="kereses-form" enctype="application/x-www-form-urlencoded">
        Kiindulópont: <input type="text" name="kiindulopont" id="kiindulopont">
        <br><br>
        Célpont: <input type="text" name="celpont" id="celpont">
        <br><br>
        Minimum ár: <input type="number" min="0" name="min_ar" id="min_ar">
        <br><br>
        Maximum ár: <input type="number" min="0" name="max_ar" id="max_ar">
        <br><br>
        <button type="submit">Keresés</button>
    </form>
</body>

</html>