<!DOCTYPE html>
<html lang="en">

<%- include('partials/header.ejs', { title: 'Bejelentkezés' }) %>

    <body>
        <%- include('partials/navbar.ejs') %>
            <% if (typeof loginErrMess !=='undefined' ) { %>
                <p class="error">
                    <%= loginErrMess %>
                </p>
                <% } %>
                    <div id="login">
                        <form action="/login" method="POST" id="login-form" class="forms"
                            enctype="application/x-www-form-urlencoded">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="username">Felhasználónév:</label>
                                <input type="text" name="username" id="username" class="form-control" required>
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="password">Jelszó:</label>
                                <input type="password" name="password" id="password" class="form-control" required>
                            </div>
                            <button type="submit">Bejelentkezés</button>
                        </form>
                    </div>
                    <a href="/register" id="register-button">Regisztráció</a>

                    <%- include('partials/footer.ejs') %>
    </body>

</html>