<!DOCTYPE html>
<html lang="en">

<%- include('partials/header.ejs', { title: 'Bejelentkezés' }) %>

    <body>
        <%- include('partials/navbar.ejs') %>
            <% if (typeof regErrMess !=='undefined' ) { %>
                <p class="error">
                    <%= regErrMess %>
                </p>
                <% } %>
                    <div id="registration">
                        <form action="/register" method="POST" id="registration-form" class="forms"
                            enctype="application/x-www-form-urlencoded">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="username">Felhasználónév:</label>
                                <input type="text" name="username" id="username" class="form-control" required>
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="password1">Jelszó:</label>
                                <input type="password" name="password1" id="password1" class="form-control" required>
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="confirm">Jelszó megerősítése:</label>
                                <input type="password" name="confirm" id="confirm" class="form-control" required>
                            </div>
                            <br><br>
                            <button type="submit">Regisztráció</button>
                        </form>
                    </div>
                    <a href="/login" id="login-button">Bejelentkezés</a>

                    <%- include('partials/footer.ejs') %>
    </body>

</html>