body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("background.jpg");
    background-size: 100%;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 60px;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: auto;
    margin-bottom: auto;
}

.nav-link, .navbar-brand {
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
    display: flex;
}

.navbar-nav .nav-link, footer .nav-link {
    font-size: 1.3rem;
}

nav a:hover, footer a:hover {
    background: #3A3B3C;
}

#logout {
    background: none;
    border: none;
    cursor: pointer;
}

nav h2 {
    color: white;
    margin: 0 auto;
}   


footer {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #242526;
    color: white;
    height: 50px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
}

table {
    text-align: center;
}

#jaratok-table a, #atszallas-table a, .foglalas-torles, .jarat-torles, #error-button {
    text-align: center;
    display: inline-block;
    padding: 5px 10px;
    background-color: #242526;
    color: #f2f2f2;
    font-size: 16px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#login-button, #register-button {
    margin: 20px;
    padding: 10px;
    background-color: #242526;
    color: #f2f2f2;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

form button:hover, #felvezetes-button:hover, #jaratok-table a:hover, #atszallas-table a:hover, .foglalas-torles:hover, .jarat-torles:hover {
    background-color: #3A3B3C;
}

.empty, .error {
    margin-top: 50px;
    font-size: 30px;
    background-color: white;
}

.cim {
    background-color: white;
}

.more-details {
    display: none;
}

#error-page {
    background-color: white;
}

#jarat-info {
    padding-top: 10px;
    margin-top: 60px;
}

.container {
    margin-top: 60px;
}
